msggen.exe
mdgen.exe
tools/obj/*
tools/*.user
tools/bin/*
server/x64/*
server/*_msg.h
server/*_data.h
server/*.user
server/*.suo
server/*.sdf
server/*.opensdf
server/*.hash
server/data_type_id.h
server/data_center_server.cpp
server/data_center_client.cpp
*.manifest
*.vshost.exe
*.pdb
tools/*.suo
bin/x86/rendering_service_Release.dll
bin/x86/rendering_service_Debug.ilk
bin/x86/rendering_service_Debug.dll
bin/x86/clientqt_release.exe
bin/x86/clientqt_debug.ilk
bin/x86/clientqt_debug.exe
bin/x86/clientlogic_Release.dll
bin/x86/clientlogic_Debug.ilk
bin/x86/clientlogic_Debug.dll
bin/amd64/server_Debug.ilk
bin/amd64/server_Debug.exe
ipch
*.suo
*.sdf
*.log
Debug
Release
debug
release
*.hash
*_Release.lib
*_Debug.lib
*.exp
clientqt/clientqt.vcxproj.filters
clientqt/clientqt.vcxproj
*.opensdf
clientqt/ui_inven.h
clientlogic/world_name_data.h
clientlogic/world_data.h
clientlogic/system_msg.h
clientlogic/sprite_data.h
clientlogic/server_msg.h
clientlogic/ps_data.h
clientlogic/npc_name_data.h
clientlogic/npc_data.h
clientlogic/game_msg.h
clientlogic/data_type_id.h
clientlogic/data_center_server.cpp
clientlogic/data_center_client.cpp
clientlogic/config_data.h
clientlogic/character_data.h
clientlogic/anim_state_data.h
*.tmp
clientqt/ui_signin.h
clientqt/ui_escmenu.h
mmobase/mmobase.vcxproj.user
bin/x86/mmobase_Debug.ilk
bin/x86/mmobase_Debug.dll
bin/amd64/mmobase_Debug.ilk
bin/amd64/mmobase_Debug.dll
*.idb
clientlogic/resource_msg.h
clientqt/Makefile
clientlogic/clientlogic.aps
bin/x86/mmobase_Release.dll
bin/x86/gliLog.txt
bin/x86/gliInterceptLog.txt
bin/x86/gliConfig.ini
bin/x86/_OpenGL32.dll
bin/amd64/mmobase_Release.dll
magen.exe
server/bind_attributes.cpp
server/pos_attribute.h
server/player_attribute.h
server/motion_attribute.h
server/character_attribute.h
server/displayable_attribute.h
server/removable_attribute.h
server/nameplate_attribute.h
server/npc_attribute.h
clientlogic/*_data.h
clientlogic/*_attribute.h
*/obj/*
*.exe
*/.svn/*
*.ncb
*.user
server/fightable_attribute.h
*.DotSettings
*.dll
*.lib
*.obj
*.ilk
*.lastbuildstate
*.tlog
*/obj/*
*.exe
*/.svn/*
*.ncb
*/Debug-MT/*
*/Release-MT/*
clientlogic/bind_attributes.cpp
*.bsc
*.sbr
clientqt/stdafx.h.cpp
thirdparties/boost_1_52_0/status/*
thirdparties/boost_1_52_0/tools/*
tools/msggen.exe.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
new_server/mmo-server/mmo-server/Messages.cs
clientlogic/*_msg.h
clientsdl/*.mp3
clientsdl/*.wav
new_server/Server.InterChatForm/publish
deploy/*.zip
deploy/client
deploy/*.config
deploy/resources/*
*.pch
*.cache
clientsdl/config.txt
deploy/config.txt
*.blend1
deploy/server/*
*_msg_test_handler.inl
UnitTest1/*_data.h
UnitTest1/*_attribute.h
UnitTest1/*_msg.h
UnitTest1/bind_attributes.cpp
UnitTest1/data_center_client.cpp
UnitTest1/data_center_server.cpp
UnitTest1/data_type_id.h
*.fontcache
*.layercache
.gdb_history
.purify
.svn/
.DS_Store
Makefile$
Makefile.pre$
TAGS$
autom4te.cache$
build/
buildno$
config.cache
config.log
config.status
config.status.lineno
db_home
platform$
pyconfig.h$
python$
python.exe$
reflog.txt$
tags$
Lib/plat-mac/errors.rsrc.df.rsrc
Doc/tools/sphinx/
Doc/tools/docutils/
Doc/tools/jinja/
Doc/tools/jinja2/
Doc/tools/pygments/
Misc/python.pc
Modules/Setup$
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix$
Parser/pgen$
Parser/pgen.stamp$
^core
^python-gdb.py
^pybuilddir.txt

syntax: glob
python.exe-gdb.py
libpython*.a
libpython*.so*
*.swp
*.o
*.pyc
*.pyo
*.pyd
*.cover
*~
Lib/lib2to3/*.pickle
Lib/test/data/*
Misc/*.wpu
PC/python_nt*.h
PC/pythonnt_rc*.h
PC/*.obj
PCbuild/*.exe
PCbuild/*.dll
PCbuild/*.pdb
PCbuild/*.lib
PCbuild/*.exp
PCbuild/*.o
PCbuild/*.ncb
PCbuild/*.bsc
PCbuild/Win32-temp-*
.coverage
coverage/
htmlcov/
